<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - @com.drewchaseproject.net.Flexx.Core.Data.Values.ApplicationName</title>
    @Html.PartialAsync("Styling").Result

</head>
<body>
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>