<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - @Flexx.Core.Data.Values.ApplicationName</title>
    @Html.PartialAsync("Styling").Result

</head>
<body class="noselect">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


    @Html.PartialAsync("_ContextMenu").Result
    @RenderBody()
    @RenderSection("Scripts", required: false)
</body>
</html>