@model com.drewchaseproject.net.Flexx.Media.Libraries.Movies.MovieModel
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="/css/main.css">
@Html.PartialAsync("Dashboard/_Nav").Result
<link rel="stylesheet" href="~/css/movieView.css" />
<link rel="stylesheet" href="~/css/dashboard.css" />
<style>
    body{
        background: url(@Model.CoverURL);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div id="movie">
    <div id="moviePoster" style="background: url( @Model.PosterURL );background-repeat: no-repeat;background-size: cover;">
        <div id="actions">
            <ul class="center">
                <li>
                    <div id="playBtn">Play</div>
                </li>
                <li>
                    <div id="resumeBtn">Resume</div>
                </li>
                <li>
                    <div id="trailerBtn">Trailer</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="overview">
        <div class="shadowed-bg"></div>
        <div id="movieTitle">@Model.Title</div>
        <div id="movieTitleSeperator"></div>
        <div id="movieSummery">@Model.Summery</div>
        <div id="movieExecutives">

            <div id="movieExecutivesSeperator"></div>
            <ul>
                <li>
                    <div class="executiveTitle">Director</div>
                    <div class="executiveName">Mikael Håfström</div>
                </li>
                <li>
                    <div class="executiveTitle">Writer</div>
                    <div class="executiveName">Rob Yescombe</div>
                </li>
                <li>
                    <div class="executiveTitle">Writer</div>
                    <div class="executiveName">Rowan Athale</div>
                </li>
                <li>
                    <div class="executiveTitle">Writer</div>
                    <div class="executiveName">Alice Allemano</div>
                </li>
            </ul>
        </div>
        <div id="movieStats">
            <div id="length">1h 56m</div>
            <div id="rating">Rated R</div><br>
            <div id="language">English</div>
            <div id="resolution">1080p</div><br>
            <div id="genres">
                <ul>
                    <li>Thriller,</li>
                    <li>Action,</li>
                    <li>Science Fiction</li>
                </ul>
            </div>
        </div>
        <div id="cast">
            <ul>
                <li>
                    <div class="castCard">
                        <img class="castImage" />
                        <div class="actorName">Anthony Mackie</div>
                        <div class="actorRole">Leo</div>
                    </div>
                </li>
                <li>
                    <div class="castCard">
                        <img class="castImage" />
                        <div class="actorName">Anthony Mackie</div>
                        <div class="actorRole">Leo</div>
                    </div>
                </li>
                <li>
                    <div class="castCard">
                        <img class="castImage" />
                        <div class="actorName">Anthony Mackie</div>
                        <div class="actorRole">Leo</div>
                    </div>
                </li>
                <li>
                    <div class="castCard">
                        <img class="castImage" />
                        <div class="actorName">Anthony Mackie</div>
                        <div class="actorRole">Leo</div>
                    </div>
                </li>
                <li>
                    <div class="castCard">
                        <img class="castImage" />
                        <div class="actorName">Anthony Mackie</div>
                        <div class="actorRole">Leo</div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>