@model com.drewchaseproject.net.Flexx.Media.Libraries.Movies.MovieModel
@{
    ViewData["Title"] = Model.Title;
}

<link rel="stylesheet" href="/css/main.css">
@Html.PartialAsync("Media/_Nav").Result
<link rel="stylesheet" href="~/css/movieView.css" />
<link rel="stylesheet" href="~/css/Media.css" />
<script>
    changeActiveNavItem(-1);
</script>
<style>
    body{
        background: url(@Model.CoverURL);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
</style>
<div id="overlay" class="shadowed-bg"></div>
<div id="movie">
    <div id="moviePoster" style="background: url( @Model.PosterURL );background-repeat: no-repeat;background-size: cover;">
        <div id="actions">
            <ul class="center">
                <li>
                    <div id="playBtn" onclick="window.location.href = '/Media/Movies/@Model.Title/Watch'">Play</div>
                </li>
                <li>
                    <div id="trailerBtn" onclick="window.location.href = '/Media/Movies/@Model.Title/Trailer'">Trailer</div>
                </li>
            </ul>
        </div>
    </div>
    <div id="overview">
        <div class="shadowed-bg"></div>
        <div id="movieTitle">@Model.Title</div>
        <div id="movieTitleSeperator"></div>
        <div id="movieSummery">@Model.Summery</div>
        <div id="movieExecutives">

            <div id="movieExecutivesSeperator"></div>
            <ul>
                <li>
                    <div class="executiveTitle">Director</div>
                    <div class="executiveName">@Model.Directors[0].ActorName</div>
                </li>
                @for (int i = 0; i < Model.Writers.Count(); i++)
                {
                    if (i >= 3) break;
                    <li>
                        <div class="executiveTitle">Writer</div>
                        <div class="executiveName">@Model.Writers[i].ActorName</div>
                    </li>
                }
            </ul>
        </div>
        <div id="movieStats">
            <div id="length">@Model.MediaDetails.Duration</div>
            <div id="rating">@Model.MPAARating</div><br>
            <div id="language">@Model.Language</div>
            <div id="resolution">@Model.MediaDetails.Resolution.Display</div><br>
            <div id="genres">
                <ul>
                    @for (int i = 0; i < Model.Genres.Count; i++)
                    {
                        if (i >= 4) break;
                        if (i == Model.Genres.Count - 1 || i == 3)
                        {
                            <li>@Model.Genres[i]</li>
                        }
                        else
                        {
                            <li>@Model.Genres[i] ,</li>
                        }
                    }
                </ul>
            </div>
        </div>
        <div id="cast">
            <ul>
                @for (int i = 0; i < Model.Actors.Count(); i++)
                {
                    if (i >= 5) break;

                    <li>
                        <div class="castCard">
                            <img class="castImage" src="@Model.Actors[i].ProfilePictureURL" />
                            <div class="actorName">@Model.Actors[i].ActorName</div>
                            <div class="actorRole">@Model.Actors[i].CharacterName</div>
                        </div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>