@{
    var list = Flexx.Media.Libraries.LibraryListModel.Singleton.TV.Series;
    if (list.Count != 0)
    {
        @*list.SortByName();*@
    }
}
<ul>
    @foreach (var show in list)
    {
        @*show.SortSeasonByName();*@
        string cName = (show.Watched || show.WatchedDuration > 0) ? "mediaItem" : "mediaItem unwatched";
        <li>
            <div style="position: relative" data-movie-name="@show.Title.Replace(" ", "%20")" id="@show.TMDBID" data-movie-watched=@show.Watched class="@cName" onmouseover="document.querySelector('body').style.background = 'url(@show.CoverURL)'" onclick="window.location.href = '/Library/TV/@show.Title'">
                <img src="@show.PosterURL" />
                <div class="movieTitle">
                    @show.Title
                    <div class="movieYear">
                        @show.Year
                    </div>
                </div>
            </div>
        </li>
    }
</ul>


<script>
    Array.from(document.getElementsByClassName('mediaItem')).forEach(item => {
        item.addEventListener('mouseover', e => {
            document.querySelector('body').style.backgroundRepeat = "no-repeat"
            document.querySelector('body').style.backgroundSize = "cover"
            document.querySelector('body').style.backgroundAttachment = "fixed"
        })
    })


    window.addEventListener("contextmenu", event => {
        var ele = event.target.tagName == "IMG" ? event.target.parentElement : event.target;
        var isMediaObject = ele.classList.contains("mediaItem");
        if (isMediaObject) {
            var html = `
<div class="custom-cm__item" onclick="window.location.href='/Library/TV/${ele.dataset.movieName}/Watch'">Play</div>
<div class="custom-cm__divider"></div>
`;
            loadContextMenuItems(html);
        } else {
            loadDefaultContextMenu()
        }
    });
</script>




@*<script>
            var lazyloadImages;

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            image.src = image.dataset.src;
                            image.classList.remove("lazy");
                            imageObserver.unobserve(image);
                        }
                    });
                });

                lazyloadImages.forEach(function (image) {
                    imageObserver.observe(image);
                });
            } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload() {
                    if (lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function () {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function (img) {
                            if (img.offsetTop < (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;
                                img.classList.remove('lazy');
                            }
                        });
                        if (lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
    </script>*@